.menu {
	float: left;
	min-height: 20px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	padding-bottom: 10px;
}

.col-sm-10_88 {
	margin-left: 160px;
	height: auto;
	width: auto;
	border: 1px solid #e3e3e3;
}

body {
	font-family: Myriad Pro;
	background-image: url("image/library.jpg");
}
.gray{
	background-color: gray!important;
} 
.gray td{
	background-color: gray!important;
}